<?xml version="1.0" encoding="utf-8"?>
<DataType Key="97c80e50-d47a-4dc3-9257-c55dea72bebf" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b8fa2505-b5d5-4094-826e-ceed55290a27"
    },
    {
      "contentElementTypeKey": "3d5c28a0-115a-4d91-a7fb-ebb2a28b9ccc",
      "settingsElementTypeKey": "d01581d7-0ada-4257-ad11-5e8dc1fc04d1"
    },
    {
      "contentElementTypeKey": "357c14f2-94b4-42bd-8c33-4a45fd05ebda"
    }
  ]
}]]></Config>
</DataType>